/* Global style 
------------------------------------------------------*/

#main{
    background-color: rgb(97, 116, 156);
  
  }
  p,li{
    color: #BAB3B6;
  }
  h3{
    color:#AC9CA8;
  }
  h2{
    color: #de9c01;
  }
   #name{
     color:#eda36e;

   }





/* Global style 
------------------------------------------------------*/





/* Global style 
------------------------------------------------------*/




/* Global style 
------------------------------------------------------*/




/* Global style 
------------------------------------------------------*/



/* Global style 
------------------------------------------------------*/